:root {
  --main: #0760FB;
  --primary: #4B8DFF;
  --secondary: #E2EBFA;
  --black: #000;
  --placeholder: #393939;
  --text: #979797;
  --border: #D9D9D9;
  /* --#F4F4F4; */
  /* --#F9F9F9; */
  --white: #FFF;

}