:root {
  --main: #0760FB;
  --primary: #4B8DFF;
  --secondary: #E2EBFA;
  --black: #000;
  --headline: #00050E;
  --placeholder: #393939;
  --text: #979797;
  --desc: #717171;
  --border: #D9D9D9;
  /* --#F4F4F4; */
  --bg-color: #F9F9F9;
  --white: #FFF;
}