.list {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.25rem;
  width: fit-content;
  min-width: 20rem;
  max-width: 37.5rem;
}

.list__item {
  width: 100%;
  background-color: #141415;
  padding: 0.75rem;

  figure {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1.25rem;

    img {
      display: block;
      width: 4rem;
      height: 4rem;
      object-fit: cover;
    }

    figcaption {
      font-size: 1.25rem;
      line-height: 120%;
      color: #fff;
    }
  }

  &:focus {
    outline: 3px solid red;
  }
}